@use 'variables' as v
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Bitter:wght@500&display=swap')

$font-primary: 'Inter', sans-serif
$font-secondary: 'Bahnschrift', serif

$text-base: 14px
$text-scale: 1.35
$v-rhythm: 24px

$text-xs: calc(.85em)
$text-sm: $text-base
$text-md: calc(1em * #{$text-scale})
$text-lg: calc(1em * #{$text-scale} * #{$text-scale})
$text-xl: calc(1em * #{$text-scale} * #{$text-scale} * #{$text-scale})
$text-xxl: calc(1em * #{$text-scale} * #{$text-scale} * #{$text-scale} * #{$text-scale})
$text-xxxl: calc(1em * #{$text-scale} * #{$text-scale} * #{$text-scale} * #{$text-scale} * #{$text-scale})

$text-sizes: ( text-xs: $text-xs, text-sm: $text-sm, text-md: $text-md, text-lg: $text-lg, text-xl: $text-xl, text-xxl: $text-xxl, text-xxxl: $text-xxxl )

@each $text-size, $text-value in $text-sizes
  .#{$text-size}
    font-size: $text-value

body
  font-family: $font-primary
  font-size: $text-base
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased

a
  text-decoration: none
  color: inherit
  line-height: 1.25em

ul
  list-style-type: none

h1, h2, h3, h4, h5, h6
  font-family: $font-secondary

article
  a
    color: var(--accent)
    text-decoration: underline
  p
    margin-bottom: calc(#{$v-rhythm} * 1)
    margin-top: calc(#{$v-rhythm} * .5)
    line-height: 1.5em
    font-size: $text-base

  ul li, ol li
    margin: calc(#{$v-rhythm} * .5) calc(#{$v-rhythm} * 1.5)
    line-height: 1.5em

  .shortlist li
    margin: calc(#{$v-rhythm} * .25) calc(#{$v-rhythm} * 1.5)
    &:last-child
      margin-bottom: calc(#{$v-rhythm} * .5)
    &:first-child
      margin-top: calc(#{$v-rhythm} * .5)

  blockquote
    margin: v.$s 0
    padding-left: v.$s
    position: relative
    max-width: v.$post-width * .8
    font-style: italic
    adding-left: .5rem !important
    &:before
      content: ""
      background: var(--accent)
      width: v.$s * .25
      height: 100%
      position: absolute
      left: 0
      top: 0

  h1
    font-size: $text-xl
    margin: calc(#{$v-rhythm} * 2) 0

  h2
    font-size: $text-lg
    margin-bottom: calc(#{$v-rhythm} * 1)
    margin-top: calc(#{$v-rhythm} * 1.5)

  h3
    font-size: $text-md
    margin-bottom: calc(#{$v-rhythm} * 1)
    margin-top: calc(#{$v-rhythm} * 1.5)

  h4
    font-size: $text-sm
    margin-bottom: calc(#{$v-rhythm} * 1)
    margin-top: calc(#{$v-rhythm} * 1.5)

  h5
    font-size: $text-xs
    margin-bottom: calc(#{$v-rhythm} * .5)
    margin-top: calc(#{$v-rhythm} * 1)

  code
    vertical-align: bottom
