@use 'globals/variables' as v
@use 'globals/typography' as t

.post-container
  display: flex
  margin: auto
  max-width: v.$post-width
  position: relative

.article-container
  max-width: v.$post-width
  width: 100%
  min-height: 100vh
  border: 1px solid var(--accent)
  header
    margin: v.$s * 5 0
    padding: 0 v.$s * 2
    h1
      font-size: t.$text-xl
  article
    margin-bottom: v.$s * 5
    p, h1, h2, h3, h4, h5, blockquote, ul, ol
      padding-left: v.$s * 2
      padding-right: v.$s * 2
    header
      margin-bottom: v.$s * 2
      h1
        padding-bottom: .5rem
      p
        padding-top: 0
        color: var(--accent-d)

@media (max-width: v.$post-width)
  .container article
    p, h1, h2, h3, h4, h5, blockquote, ul, ol
      padding-left: v.$s
      padding-right: v.$s
